name: Norminette & Tests

on: push

jobs:
    flake8:
      runs-on: ubuntu-latest
      steps:
        - name: Setup Python
          uses: actions/setup-python@v1
          with:
            python-version: 3.10.12
            architecture: x64
        - name: Checkout PyTorch
          uses: actions/checkout@master
        - name: Install flake8
          run: pip install flake8
        - name: run flake8
          run: flake8