name: Norminette & Tests

on: push


jobs:
    flake8:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6
        - uses: actions/setup-python@v6
          with:
            python-version: '3.10'
        - name: Checkout PyTorch
          uses: actions/checkout@master
        - name: Install flake8
          run: pip install flake8
        - name: run flake8
          run: flake8
    test:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout main project
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.11"

        - name: Upgrade pip
          run: python -m pip install --upgrade pip

        - name: Clone PyTypeGuard
          run: |
            git clone https://github.com/Assadmus47/pytypeguard.git
            cd pytypeguard
            pip install .
            cd ..

        - name: Run PyTypeGuard
          run: |
            pytypeguard